.Projects {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.Projects-Card {
    color: #6a1b9a;
    display: flex;
    justify-content: space-between;
    padding: 5px
}

.Projects-Card :hover {
    background-color: rgb(241, 241, 241);
}

.Projects-Links {
    margin-top: auto;
}